body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    height: 100vh;
    width: 100vw;
    // background: wheat;
}
canvas {
    position: absolute;
    display: inline;
    // cursor: none;
}


h1 {
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}